{% extends "dashboard/dashboard-base.html" %}
  {% block individual %}
  {% endblock %}  
  
  {% block content %}
	<div class="col-md-12 col-sm-8  col-xs-12">
	  <div class="form-group pull-left">
	  	<form action="/dashboard/singleStationAccountResult" method="post">
	  	{% csrf_token %}
	  	    <div class="col-md-7">
	          <select id="selectbasic" name="selectbasic" class="search form-control">
		  			<option value="思明">思明</option>
		  			<option value="海沧">海沧</option>
		  			<option value="湖里">湖里</option>
		  			<option value="翔安">翔安</option>
		  			<option value="集美">集美</option>
		  			<option value="同安">同安</option>
			  </select>
			</div>
			<div class="col-md-5">
				<button type="submit" class="btn btn-primary">提交</button>
			</div>
	    </form>
	  </div>
	  <span class="counter pull-right"></span>
	  <table class="table table-hover table-bordered results">
	    <thead>
	      <tr>
	        <th class="col-md-4 col-xs-4">站址名称</th>
	        <th class="col-md-4 col-xs-4">区域</th>
	        <th class="col-md-4 col-xs-4">详细地址</th>
	      </tr>
	    </thead>
	    <tbody>
	    {% load static %}
	      {% if stations %}
	      {% for station in stations %}
		      <tr>
		        <td><a href="{% url 'dashboard:stationDetails' station.station_code %}">{{ station.station_name }}</a></td>
		        <td>{{ station.district_id }}</td>
		        <td>{{ station.address }}</td>
		      </tr>
		   {% endfor %}
		   {% endif %}
	    </tbody>
	  </table>
	</div>
	
  {% endblock %}
  
  {% block myscript %}
  {% endblock %}




