{% extends "dashboard/dashboard-base.html" %}
  {% block individual %}
  {% endblock %}  
  
  {% block content %}
	<div class="col-md-12 col-sm-8  col-xs-12">
	  <div class="form-group pull-left">
	  	<form action="/dashboard/testFormResult" method="get">
	      <input name="keyword" type="text" class="search form-control" placeholder="">
	    </form>
	  </div>
	  <span class="counter pull-right"></span>
	  <table class="table table-hover table-bordered results">
	    <thead>
	      <tr>
	        <th class="col-md-8 col-xs-8">流程名称</th>
	        <th class="col-md-4 col-xs-4">启用时间</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td><a href='/dashboard/viewPDFOnline'>关于加强站址规范交维管控的通知正文</a></td>
	        <td>2016-07-01</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
	
  
  {% endblock %}
  
  {% block myscript %}
  {% endblock %}




