{% extends "dashboard/dashboard-base.html" %}
  {% block individual %}
  	{% load static %}
  	<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'dashboard/highcharts/js/highcharts.js' %}"></script>
	  <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>


  {% endblock %}  
  
  {% block content %}
	
 		<div class="row">
 		  <div class="form-group pull-center">
 		  	<form action="/dashboard/singleStationAccountResult" method="post">
 		  	{% csrf_token %}
  	    <div class="col-md-2">
            <select id="selectbasic" name="selectbasic" class="search form-control">
            		<option selected="selected" value="{{district}}">{{district}}</option>
   			  			<option value="思明区">思明区</option>
   			  			<option value="海沧区">海沧区</option>
   			  			<option value="湖里区">湖里区</option>
   			  			<option value="翔安区">翔安区</option>
   			  			<option value="集美区">集美区</option>
   			  			<option value="同安区">同安区</option>
   				  </select>
 				 </div>
 				<div class="col-md-2">
 					<input id="month" name="month" type="month" class="form-control" value="{{month}}"/>
 				</div>
 				<div class="col-md-8">
 					<button type="submit" class="btn btn-primary">提交</button>
 				</div>
 		   </form>
 		  </div>
 		</div>
	  <span class="counter pull-right"></span>

	  <div class ="row">
	    <div class ="center-block"  id="basicColumn" style="width:750px; height: 450px"></div>
	    <div class ="center-block" id="container" style="min-width: 500px; height: 300px"></div>
    </div>

	  <table class="table table-hover table-bordered results">
	    <thead>
	      <tr>
	        <th class="col-md-4 col-xs-4">站址名称</th>
	        <th class="col-md-4 col-xs-4">区域</th>
	        <th class="col-md-4 col-xs-4">详细地址</th>
	      </tr>
	    </thead>
	    <tbody>
	    {% load static %}
	      {% if stations %}
	      {% for station in stations %}
		      <tr>
		        <td><a href="{% url 'dashboard:stationDetails' station.station_code %}">{{ station.station_name }}</a></td>
		        <td>{{ station.district_id }}</td>
		        <td>{{ station.address }}</td>
		      </tr>
		   {% endfor %}
		   {% endif %}

	    </tbody>
	  </table>

  {% endblock %}
  
  {% block myscript %}
     <script type="text/javascript">
        $(function () {
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: '{{district}}站址盈利率分布统计({{month}})'
                },
                subtitle: {
                    text: '数据来源: <a href="http://123.126.34.161/default/coframe/tools/skins/jyfx/index.jsp">经营分析系统'
                },
                xAxis: {
                    categories: [
                        '0-1',
                        '1-2',
                        '2-3',
                        '3-4',
                        '4-5',
                        '5-6',
                        '6-7',
                        '7-8',
                        '8-9',
                        '9-10',
                        '10-11'
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '站址数(个)'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.0f}个</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [
                  
                   {
                    name: '负盈利率',
                    data: [
                      {% for negtive in negative_profit_rate_count %}
                        {{negtive}},
                      {% endfor %}
                    ],dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#FFFFFF',
                        align: 'center',
                        format: '{point.y:.0f}', // one decimal
                        y: 10, // 10 pixels down from the top
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                      }
                   },{
                    name: '正盈利率',
                    data: [
                      {% for positive in positive_profit_rate_count %}
                        {{positive}},
                      {% endfor %}
                    ],dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#FFFFFF',
                        align: 'center',
                        format: '{point.y:.0f}', // one decimal
                        y: 10, // 10 pixels down from the top
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                      }
                   },

                  
                ]
            });
        });
     </script>

     <script type="text/javascript">
        $(function () {
          // Create the chart
          Highcharts.chart('basicColumn', {
              chart: {
                  type: 'column'
              },
              title: {
                  text: '{{district}}分场景营业额({{month}})'
              },
              subtitle: {
                  text: '数据来源: <a href="http://123.126.34.161/default/coframe/tools/skins/jyfx/index.jsp">经营分析系统</a>.'
              },
              xAxis: {
                  type: 'category'
              },
              yAxis: {
                  title: {
                      text: '营业额'
                  }

              },
              legend: {
                  enabled: false
              },
              plotOptions: {
                  series: {
                      borderWidth: 0,
                      dataLabels: {
                          enabled: true,
                          format: '{point.y:,.2f}元'
                      }
                  }
              },

              tooltip: {
                  headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                  pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:,.2f}</b>元<br/>'
              },

              series: [{
                  name: '场景分类',
                  colorByPoint: true,
                  data: [{
                      name: '城镇乡村',
                      y: {{CityTownCountrySum}},
                      drilldown: '城镇乡村'
                  }, {
                      name: '大型场所',
                      y: {{BigSiteEnumSum}},
                      drilldown: '大型场所'
                  }, {
                      name: '交通沿线',
                      y: {{TransportAlongStreetSum}},
                      drilldown: '交通沿线'
                  }, {
                      name: '景区',
                      y: {{ScenicRegionSum}},
                      drilldown: '景区'
                  }, {
                      name: '其他',
                      y: {{OthersSum}},
                      drilldown: '其他'
                  }]
              }],
              drilldown: {
                  series: [{
                      name: '城镇乡村',
                      id: '城镇乡村',
                      data: [
                          {% for key,data in CityTownCountryDict.items %}
                          [
                              '{{key}}',
                              {{data}}
                          ],
                          {% endfor %}
                      ]
                  }, {
                      name: '大型场所',
                      id: '大型场所',
                      data: [
                          {% for key,data in BigSiteEnumDict.items %}
                          [
                              '{{key}}',
                              {{data}}
                          ],
                          {% endfor %}
                      ]
                  }, {
                      name: '交通沿线',
                      id: '交通沿线',
                      data: [
                          {% for key,data in TransportAlongStreetDict.items %}
                          [
                              '{{key}}',
                              {{data}}
                          ],
                          {% endfor %}
                      ]
                  }, {
                      name: '景区',
                      id: '景区',
                      data: [
                          {% for key,data in ScenicRegionDict.items %}
                          [
                              '{{key}}',
                              {{data}}
                          ],
                          {% endfor %}
                      ]
                  }, {
                      name: '其他',
                      id: '其他',
                      data: [
                          {% for key,data in OthersDict.items %}
                          [
                              '{{key}}',
                              {{data}}
                          ],
                          {% endfor %}
                      ]
                  }, ]
              }
          });
      });
     </script>
  {% endblock %}




