{% extends "dashboard/dashboard-base.html" %}
  {% block individual %}
  	{% load static %}
  	<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
   <script src="{% static 'dashboard/highcharts/js/highcharts.js' %}"></script>
	  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  {% endblock %}  
  
  {% block content %}
	
 		<div class="row">
 		  <div class="form-group pull-center">
 		  	<form action="/dashboard/singleStationAccountResult" method="post">
 		  	{% csrf_token %}
  	    <div class="col-md-2">
            <select id="selectbasic" name="selectbasic" class="search form-control">
            		<option selected="selected" value="{{district}}">{{district}}</option>
   			  			<option value="思明区">思明区</option>
   			  			<option value="海沧区">海沧区</option>
   			  			<option value="湖里区">湖里区</option>
   			  			<option value="翔安区">翔安区</option>
   			  			<option value="集美区">集美区</option>
   			  			<option value="同安区">同安区</option>
   				  </select>
 				 </div>
 				<div class="col-md-2">
 					<input id="month" name="month" type="month" class="form-control" value="{{month}}"/>
 				</div>
 				<div class="col-md-8">
 					<button type="submit" class="btn btn-primary">提交</button>
 				</div>
 		   </form>
 		  </div>
 		</div>
	  <span class="counter pull-right"></span>

	  <div class ="row">
	    <div class ="col-md-6 col-xs-6" id="NegativeStackBar" style="width:1000px; height: 600px"></div>
	    <div class ="col-md-12 col-xs-12" id="container" style="min-width: 1000px; height: 600px"></div>
	  </div>

	  <table class="table table-hover table-bordered results">
	    <thead>
	      <tr>
	        <th class="col-md-4 col-xs-4">站址名称</th>
	        <th class="col-md-4 col-xs-4">区域</th>
	        <th class="col-md-4 col-xs-4">详细地址</th>
	      </tr>
	    </thead>
	    <tbody>
	    {% load static %}
	      {% if stations %}
	      {% for station in stations %}
		      <tr>
		        <td><a href="{% url 'dashboard:stationDetails' station.station_code %}">{{ station.station_name }}</a></td>
		        <td>{{ station.district_id }}</td>
		        <td>{{ station.address }}</td>
		      </tr>
		   {% endfor %}
		   {% endif %}
	    </tbody>
	  </table>

  {% endblock %}
  
  {% block myscript %}
     <script type="text/javascript">
     	$(function () {
		    // Age categories
		    var categories = ['0-1', '1-2', '2-3', '3-4',
		            '4-5', '5-6', '6-7', '7-8', '8-9',
		            '9-10', '10-11', '11+',];
		    $(document).ready(function () {
		        Highcharts.chart('NegativeStackBar', {
		            chart: {
		                type: 'bar'
		            },
		            title: {
		                text: '{{district}}站点利润率分布({{month}})'
		            },
		            subtitle: {
		                text: '数据源：<a href="http://123.126.34.161/default/coframe/tools/skins/jyfx/index.jsp">铁塔OA经营分析系统</a>'
		            },
		            xAxis: [{
		                categories: categories,
		                reversed: false,
		                labels: {
		                    step: 1
		                }
		            }, { // mirror axis on right side
		                opposite: true,
		                reversed: false,
		                categories: categories,
		                linkedTo: 0,
		                labels: {
		                    step: 1
		                }
		            }],
		            yAxis: {
		                title: {
		                    text: null
		                },
		                labels: {
		                    formatter: function () {
		                        return Math.abs(this.value) + '%';
		                    }
		                }
		            },

		            plotOptions: {
		                series: {
		                    stacking: 'normal'
		                }
		            },

		            tooltip: {
		                formatter: function () {
		                    return '<b>' + this.series.name + ', 比率 ' + this.point.category + '</b><br/>' +
		                        '占比: ' + Highcharts.numberFormat(Math.abs(this.point.y), 5);
		                }
		            },

		            series: [{
		                name: '亏损',
		                data: [
		                {% load static %}
		                {% if negative_ratio %}
		                {% for ratio in negative_ratio %}
		                    {{ratio}},
		                {%endfor%}
		                {%endif%}
		                ]
		            }, {
		                name: '盈利',
		                data: [
		                {% load static %}
		                {% if positive_ratio %}
		                {% for ratio in positive_ratio %}
		                    {{ratio}},
		                {%endfor%}
		                {%endif%}
		                ]
		            }]
		        });
		    });

		});
     </script>

     <script type="text/javascript">
        $(function () {
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: '分场景营业额'
                },
                xAxis: {
                    categories: [
                    {% if CoverageSceneList %}
                    {% for scene in CoverageSceneList %}
                      '{{scene}}',
                    {%endfor%}
                    {%endif%}
                    ]
                },
                credits: {
                    enabled: false
                },
                
                yAxis: [{
        			title: {
          				text: "金额(元)"
          			}
        		}],
                
                series: [
                {% if turnover %}
                {%for data,values in turnover.items%}
                {
                    name: '{{data}}',
                    data: [
                    {% for a in values %}
                      {{a}},
                    {%endfor%}
                    ]
                },
                {%endfor%}
                {%endif%} 
                ]
            });
        });

     </script>
  {% endblock %}




